<!-- Sección 1 titulo e imagen representativa -->
<section class="section1">
  <h1>OF WEB DESIGN AND MARKETING</h1>
  <img
    class="imagenTitulo"
    src="https://img.freepik.com/foto-gratis/marketing-digital-iconos-gente-negocios_53876-94833.jpg?w=2000"
    alt="Marketing Web"
  />
  <app-actionButton></app-actionButton>
</section>

<!-- Sección 2 titulo y carrusel de ejemplos de clientes -->
<section class="section2">
  <h1>NUESTROS CLIENTES</h1>
  <div class="sliderContainer">
    <ng-image-slider class="slider" [imagePopup]="false" [imageSize]="{width: 300, height: 300, space: 10}" [images]="imgCollection" #nav></ng-image-slider>
  </div>
  <app-actionButton></app-actionButton>
</section>

<!-- Sección 3 tarjetas explicativas -->
<section class="section3">
<app-card></app-card>
<app-actionButton></app-actionButton>
</section>

<footer>
  <div class="linksFooter">
    <a href="#">Contacto</a>
    <a href="#">Privacidad</a>
    <a href="#">Cookies</a>
  </div>
</footer>
