.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  h1 {
    font-size: 3vw;
    margin: 1rem;
  }
  .imagenTitulo {
    width: 98vw;
  }
}
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  .sliderContainer {
    width: 18rem;
  }
}
.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  background-color: black;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .linksFooter {
    display: flex;
    justify-content: center;
    a {
      margin: 1rem;
      text-decoration: none;
      color: white;
    }
  }
}
