<section class="section1">
  <h1>OF WEB DESIGN AND MARKETING</h1>
  <img class="imagenTitulo" src="../../../assets/Digital-marketing-in-india.jpg" alt="Marketing Web">
  <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=rubenpv011992@gmail.com,benrupv_13@hotmail.com&su=Informacion&body=Hola,%20me%20gustaria%20obtener%20informacion%20sobre%20la%20creación%20de%20una%20web"  target="_blank" >
    <button class="actionButton" mat-raised-button color="primary">Comienza Ahora</button>
  </a>
</section>
